Source: jbig2enc
Section: graphics
Priority: optional
Maintainer: Rogério Brito <rbrito@ime.usp.br>
Build-Depends:
 debhelper (>=10),
 dh-autoreconf,
 dh-python,
 libleptonica-dev,
 python-all,
 zlib1g-dev
Standards-Version: 3.9.8
Homepage: https://github.com/agl/jbig2enc
Vcs-Git: https://github.com/rbrito/pkg-jbig2enc.git
Vcs-Browser: https://github.com/rbrito/pkg-jbig2enc

Package: jbig2enc
Architecture: any
Depends:
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends}
Description: JBIG2 encoder
 JBIG2 encodes bitonal (1 bpp) images using a number of clever tricks to get
 better compression than G4. This encoder can:
 .
  * generate JBIG2 files, or fragments for embedding in PDFs,
  * generic region encoding,
  * perform symbol extraction, classification and text region coding,
  * perform refinement coding and,
  * compress multipage documents.
