#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_installdocs:
	# This is a kludge until we get upstream installation working
	# as we intend.
	rm -rf debian/tmp/usr/share/doc/jbig2enc-*
	dh_installdocs
